.round {
    height: 25em;
    border-radius: 100%;
    margin-right: 10em;
}

/*style for changing word*/
#changing-word {
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif;
}

.icon {
    font-size: 1.2em;
}

