.content-group {
    padding: 3em 0 3em 0;
}

.center {
    text-align: center;
}

.content-group-border {
    position: absolute;
    border-top: 0.3em dotted rgb(104, 148, 115);
    left: 20%;
    right: 20%;
}

.light-green {
    color: rgb(166, 219, 182);
}

.green {
    color: rgb(132, 177, 144);
}

.dark-green {
    color: rgb(104, 148, 115);
}


.headline {
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 0.5rem;
}

.text {
    font-size: 1em;
    color: black;
}

.icon {
    font-size: 1.2em;
}